@import "tailwindcss";

/* Load DM Sans font */
@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


@theme{
    --font-display: 'DM Sans', Arial, sans-serif;
    --font-bricolage: 'Bricolage Grotesque', 'DM Sans', Arial, sans-serif;
    --color-neutral-*: initial;
    --color-orange-*: initial;
    --color-blue-*: initial;
    --color-neutral-0: #FFFFFF;
    --color-neutral-200: #D4D3D9;
    --color-neutral-300: #ACACB7;
    --color-neutral-600: #3C3B5E;
    --color-neutral-700: #302F4A;
    --color-neutral-800: #262540;
    --color-neutral-900: #02012C;
    --color-orange-500: #FF820A;
    --color-blue-500: #4658D9;
    --color-blue-700: #2B1B9C;

    --text-preset-1: 6rem;
    --text-preset-1-line-height: 100%;
    --text-preset-1-letter-spacing: -2px;
    --text-preset-1-font-weight: 600;
    --text-preset-1-font-style: italic;

    --text-preset-2: 3.25rem;
    --text-preset-2-line-height: 120%;
    --text-preset-2-letter-spacing: 0;
    --text-preset-2-font-weight: 700;
    --text-preset-2-font-display: 'Bricolage Grotesque', 'DM Sans', Arial, sans-serif;
    
    --text-preset-3: 2rem;
    --text-preset-3-line-height: 100%;
    --text-preset-3-letter-spacing: 0;
    --text-preset-3-font-weight: 300;

    --text-preset-4: 1.75rem;
    --text-preset-4-line-height: 120%;
    --text-preset-4-letter-spacing: 0;
    --text-preset-4-font-weight: 700;

    --text-preset-5:1.25rem;
    --text-preset-5-line-height: 120%;
    --text-preset-5-letter-spacing: 0;
    --text-preset-5-font-weight: 400;


    --text-preset-6: 1.125rem;
    --text-preset-6-line-height: 120%;
    --text-preset-6-letter-spacing: 0;
    --text-preset-6-font-weight: 400;

    --text-preset-7: 1rem;
    --text-preset-7-line-height: 120%;
    --text-preset-7-letter-spacing: 0;
    --text-preset-7-font-weight: 400;

    --text-preset-8: 0.875rem;
    --text-preset-8-line-height: 120%;
    --text-preset-8-letter-spacing: 0;
    --text-preset-8-font-weight: 400;



}

body {
  font-family: var(--font-display);
  font-size: 16px;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-0)
}


/* WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* Optional: horizontal scrollbar height */
}

*::-webkit-scrollbar-track {
  background: var(--color-neutral-600);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-900);
  border-radius: 8px;
  border: 2px solid var(--color-neutral-600);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-900);
}

